---
title: 재직증명서 i9검증
description: 이민 개혁 및 통제법에 따르면 미국 고용주는 새로 고용된 직원의 고용 자격 상태를 확인해야 합니다.
author: ShielaSogge
ms.date: 01/10/2022
ms.topic: business-process
ms.prod: ''
ms.technology: ''
ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document
audience: Application User
ms.reviewer: twheeloc
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: Version 7.0.0
ms.openlocfilehash: b76102111a8506882f2301d76856ae1a34a7c704
ms.sourcegitcommit: 3a7f1fe72ac08e62dda1045e0fb97f7174b69a25
ms.translationtype: HT
ms.contentlocale: ko-KR
ms.lasthandoff: 01/31/2022
ms.locfileid: "8460871"
---
# <a name="employment-verification-i9-verification"></a>재직증명서 i9검증

[!include [banner](../../../includes/banner.md)]


[!INCLUDE [PEAP](../../../../../includes/peap-1.md)]

이민 개혁 및 통제법에 따르면 미국 고용주는 새로 고용된 직원의 고용 자격 상태를 확인해야 합니다. 이번에는 I-9 확인에 필요한 문서를 기록하는 단계를 안내합니다. 이 절차에는 USMF 회사를 사용하십시오.

1. **인적 자원 \> 근로자 \> 직원** 으로 이동하십시오.
2. 빠른 필터를 사용하여 기록을 찾습니다. 예를 들어 **이름** 필드에 대해 **Vince** 값을 필터링합니다.
3. 직원을 선택합니다. 예를 들어 **빈스 프라도** 를 선택합니다.
4. **개인정보** 패스트탭을 선택하십시오.
5. **식별 번호** 를 선택합니다.
6. **새로 만들기** 를 선택합니다.
7. 기록 중인 식별 유형을 선택합니다. 예를 들어 **여권** 을 선택합니다.
8. **숫자** 필드에 값을 입력합니다.
9. **기본** 필드에서 **예** 를 선택합니다.
10. **설명** 필드에 식별 기록에 대한 간략한 설명을 입력합니다.
11. **발급 기관** 필드에서 근로자에게 신분증을 발급한 기관을 선택합니다. 예를 들어 **정부** 를 선택합니다.
12. 발급기관에서 근로자에게 신분증을 발급한 날짜를 입력합니다. 예를 들어 **2011년 2월 15일**(2011년 2월 15일)을 입력합니다.
13. 신분증 형식이 만료되는 날짜를 입력합니다. 예를 들어 **2021년 2월 15일**(2021년 2월 15일)을 입력합니다.
14. **저장** 을 선택합니다.
15. 페이지를 닫습니다.
16. **고용** 탭을 선택합니다.
17. **I-9** 를 선택합니다.
18. **새로 만들기** 를 선택합니다.
19. **작업 자격** 필드에서 옵션을 선택합니다.

    직원이 미국 시민이나 국민이 아닌 경우 해당 직원의 거주 외국인 또는 입국 허가 번호를 입력해야 합니다.

20. **GroupListA** 옵션을 선택합니다.

    선택하는 목록은 작업자가 제공한 신분증 형식에 따라 다릅니다. 근로자는 목록 A의 문서 하나 또는 목록 B와 목록 C의 문서 중 하나를 제공해야 합니다. 예를 들어 근로자가 여권을 제공한 경우 목록 A를 선택할 수 있습니다. 그러나 근로자가 운전 면허증과 사회 보장 제도만 제공한 경우 카드의 경우 목록 B와 목록 C를 선택해야 합니다.

21. **I-9 문서 유형** 필드에서 근로자가 제공한 문서 유형을 선택합니다.
22. **문서 번호** 필드에 값을 입력하거나 선택합니다.
23. **저장** 을 선택합니다.

[!INCLUDE[footer-include](../../../../../includes/footer-banner.md)]
